* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Raleway;
}

.container {
  background-image: url("../images/bg-mobile.png");
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.stcard {
  width: 85%;
  margin-bottom: 20px;
  background-color: #1e2c69;
  padding: 40px;
  border-radius: 8px 80px 8px 8px;
  -webkit-border-radius: 8px 80px 8px 8px;
  -moz-border-radius: 8px 80px 8px 8px;
  -ms-border-radius: 8px 80px 8px 8px;
  -o-border-radius: 8px 80px 8px 8px;
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
}
.stcard > img {
  margin-bottom: 30px;
}

.stcard .icons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.stcard .icons .box {
  width: 45px;
  height: 45px;
  background-color: #0b122b;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.ndcard {
  width: 85%;
  background-color: #1e2c69;
  padding: 30px;
  border-radius: 8px;
  min-height: 150px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: ease-in-out 1.5s;
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
}
.ndcard p {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
}
.ndcard p span {
  font-weight: 900;
}
.ndcard .whitebox {
  width: 150px;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: 100%;
  right: 50%;
  margin-top: -37.5px;
  margin-right: -75px;
  transition: all ease-in-out 1s;
  -webkit-transition: ease-in-out 1.5s;
  -moz-transition: ease-in-out 1.5s;
  -ms-transition: ease-in-out 1.5s;
  -o-transition: ease-in-out 1.5s;
}

.ndcard .whitebox span {
  color: #909096;
  font-size: 12px;
  font-weight: 900;
  position: relative;
  top: -3px;
}

.progress {
  width: 90%;
  height: 18px;
  background-color: #141f4a;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  position: relative;
}
.progress::before {
  content: "0 GB";
  position: absolute;
  color: white;
  top: 30px;
  font-size: 12px;
}
.progress::after {
  content: "1000 GB";
  position: absolute;
  color: white;
  top: 30px;
  right: 0px;
  font-size: 12px;
}

.progress .bar {
  position: relative;
  width: 81.5%;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  height: 18px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border: solid 2px black;
}
.bar::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 2px;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
    background-image: url("../images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #0c122c;
    position: relative;
    transition: ease 3s all;
    -webkit-transition: ease 3s all;
    -moz-transition: ease 3s all;
    -ms-transition: ease 3s all;
    -o-transition: ease 3s all;
}
  .stcard {
    width: 35%;
    margin: 0px;
    margin-right: 50px;
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  .ndcard {
    width: 45%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    align-items: flex-start;
}
.ndcard .whitebox{
  width: 180px;
  margin: 0;
  top: 0;
  transform: skewY();
  transform: translateY(-70%);
  right: 25px;
  border-radius: 0px;
  border-radius: 15px 15px 0 15px;
  -webkit-border-radius: 15px 15px 0 15px;
  -moz-border-radius: 15px 15px 0 15px;
  -ms-border-radius: 15px 15px 0 15px;
  -o-border-radius: 15px 15px 0 15px;
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
}
.ndcard .whitebox::after{
 content: "";
 width: 00px;
 height: 00px;
 border-color: transparent white transparent transparent;
 border-width: 25px;
 border-style: solid;
 position: absolute;
 right: 0px;
 top: 100%;
 
 transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
}
}
